
  <form id="editPostForm" class="card-body">
    <input type="hidden" name="postId" value="{{post.id}}" />

    <div class="card" style="margin-top: 2%;">
      <div class="card-header" style="font-size: 24px; text-align: center;">
        Edit Post
      </div>
      <div style="padding-left: 2%; padding-right: 2%; padding-top:2%">
        <div>
          <label class="form-label" for="postTitle">Title</label>
          <input type="text" name="postTitle" class="form-control" value={{post.title}} />
        </div>

        <div class="mb-3" style="padding-top: 2%;">
          <label class="form-label" for="postContent">Content</label>
          <textarea name="postContent" class="form-control" rows="5">{{post.content}}</textarea>
        </div>
      </div>
    </div>
    
    <div style="margin-top: 3%;">
        <button type="submit" class="btn btn-primary">Update Post</button>
    </div>
  </form>

      <div style="margin-top: 3%; margin-left:1%">
        <button id="deletePostBtn"class="btn btn-primary">Delete Post</button>
      </div>
</div>


<script src="/js/edit.js"></script>
