<div style="margin: 3%">
  <h1>Log In</h1>
</div>

<div class="card" style="margin: 3%">
  <form id="loginForm" class="card-body">
    <div class="mb-3">
      <label for="username-input-login" class="form-label">Username</label>
      <input type="text" class="form-control" id="username-login" placeholder="Enter your username" />
    </div>
    <div class="mb-3">
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login" placeholder="Enter your password" />
    </div>
    <div style="margin-top: 2%;">
        <button type="submit" id="login-btn" class="btn btn-primary">Log In</button>
    </div>
    <div style="margin-top: 3%;">
      <h5>Don't have an account? <a href="/signup">Sign Up</a></h5>
    </div>
  </form>
</div>



<script src="/js/login.js"></script> 



