
<form id="new-post-form" class="card-body">
    <div class="card" style="margin-top: 2%;">
      <div class="card-header" style="font-size: 24px; text-align: center;">
        New Post
      </div>
      <div style="padding-left: 2%; padding-right: 2%; padding-top:2%">
        <div>
          <label class="form-label" for="post-title">Title</label>
          <input type="text" name="post-title" class="form-control" />
        </div>

        <div class="mb-3" style="padding-top: 2%;">
          <label class="form-label" for="post-body">Content</label>
          <textarea name="post-body" class="form-control" rows="5"></textarea>
        </div>
      </div>
    </div>
    
    <div style="margin-top: 3%;">
        <button type="submit" class="btn btn-primary">Save Post</button>
    </div>
  </form>
</div>

<script src="/js/new.js"></script>
