<div style="margin: 3%">
  <h1>Sign Up</h1>
</div>

<div class="card" style="margin: 3%">
  <form id="signupForm" class="card-body">
    <div class="mb-3">
      <label for="username-signup" class="form-label">Username</label>
      <input type="text" class="form-control" id="username-signup" placeholder="Enter your username" />
    </div>
    <div class="mb-3">
      <label for="password-signup" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-signup" placeholder="Enter your password" />
    </div>
    <div style="margin-top: 2%;">
        <button type="submit" id="signup-btn" class="btn btn-primary">Sign Up</button>
    </div>
    <div style="margin-top: 3%;">
      <h5>Already have an account? <a href="/login">Log In</a></h5>
    </div>
  </form>
</div>



<script src="/js/signup.js"></script> 



